* {
  font-family: Arial;
  box-sizing: border-box;
}

 #map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul.legend {
  position: absolute;
  bottom: 1em;
  left: 1em;
  background-color: white;
  padding: 0 1em;
  list-style: none;
  padding-left: 10px;
}

ul.legend li {
  margin: 10px 0;
}

.legend img {
  width: 20px;
  height: 20px;
}

button.demo {
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 1em 2em;
  background-color: #00aacc;
  color: white;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  display: none;
}

img[src*="avatar"]{
  border: 5px solid #00aacc99 !important;
  border-radius: 50%;
}