/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button.demo {
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 1em 2em;
  background-color: #00aacc;
  color: white;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
}